body{
    padding:10px;
    padding-left: 110px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline rebeccapurple 4px;
}
input{
    font-size: 25px;
    width: 500px;
    height: 40px;
    border-radius: 9px;
    outline: none;
}

input::placeholder{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rebeccapurple;
}
.Boton{
    background: black;
    color: white;
    border-radius: 10px;
    /* width: 60px; */
    width: 351px;
    padding: 10px 15px ;

}
.Resultado{
    width: 190px;
    /* border: 5px solid #000; */
    border-radius: 9px 2px;
}
.LosLi{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
}
/* img{
    width: 190px;
     border: 5px solid #000; 
    border-radius: 9px 2px;
} */